@{
    Layout = "_LayoutLogin";
}


<div class="container" style="background-color: rgba(217, 217, 217, 0.74); border-radius: 10px; padding: 15px; width: 600px">
    <div class="row">
        <div class="col-lg-6">
            <button type="button" class="btn btn-block btn-primary" onclick="location.href = 'Usuario\\Login'">Entrar no Sistema</button>
        </div>
        <div class="col-lg-6">
            <button type="button" class="btn btn-block btn-success" onclick="location.href = 'Usuario\\Registrar'">Registrar uma conta</button>
        </div>
    </div>
</div>