<div class="row">

    <div class="col-lg-6">
        <button type="button" class="btn btn-block btn-primary" onclick="location.href = 'Usuario\\Login'">Entrar no Sistema</button>
    </div>
    <div class="col-lg-6">
        <button type="button" class="btn btn-block btn-success">Registrar uma conta</button>
    </div>
</div>
