
@{
    ViewData["Title"] = "Menu";
}

<div class="row">
    <a href="..\Conta\Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/wallet-solid.svg" width="30%" />
            <h3>Criar Conta</h3>
        </div>
    </a>
    <a href="..\PlanoConta\Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/money-check-solid.svg" width="30%" style="padding-top: 5px; padding-bottom: 20px" />
            <h3>Plano de Contas</h3>
        </div>
    </a>
    <a href="..\Transacao\Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/exchange-alt-solid.svg" width="30%" />
            <h3>Registrar Transação</h3>
        </div>
    </a>
</div>
<br />
<div class="row">
    <a href="..\Transacao\Extrato">
        <div class="col-lg-4 text-center">
            <img src="~/images/file-invoice-dollar-solid.svg" width="20%" style="padding-top: 18px;" />
            <h3>Emitir Extrato</h3>
        </div>
    </a>
    <a href="..\Transacao\Dashboard">
        <div class="col-lg-4 text-center">
            <img src="~/images/chart-area-solid.svg" width="30%" style="padding-top: 5px;" />
            <h3>Dashboard</h3>
        </div>
    </a>
    <a href="..\Home\Ajuda">
        <div class="col-lg-4 text-center">
            <img src="~/images/question-solid.svg" width="20%" style="padding-top: 18px;" />
            <h3>Ajuda</h3>
        </div>
    </a>
</div>
