@model ContaModel

<form asp-controller="Conta" asp-action="CriarConta">
    <div>
        <h3>Criar conta:</h3><br />
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" asp-for="Nome">
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="saldo">Saldo:</label>
            <input type="number" class="form-control" asp-for="Saldo">
            <span asp-validation-for="Saldo" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-block btn-success">Registrar</button>
    </div>
</form>